.message_body{
    height: 100%;
    position: relative;
}
.message_top{
    position: absolute;
    top:0px;
    left: 0px;
    height: 65px;
    /* background-color: rgba(255, 255, 0, 0.164); */
    background-color: #373D22;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    z-index: 5;
}
.message_top img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 0 10px;
}
.message_top h5{
    font-weight: 900 ;
}
.message_top p{
    font-size: .8rem;
}
.message_middle{
    position: absolute;
    top:65px;
    bottom: 55px;
    left: 0px;
    border: 5px solid #373D22;
    border-bottom: 0px ;
    height:calc(100% - 170px);
    /* height: 100%; */
    width: 100%;
    padding: 10px 10px 22px 10px;
    overflow-y: scroll;
}
.message_middle::-webkit-scrollbar {
    width: 0px !important;
}
.message_middle{
    overflow: auto;
    scrollbar-width: none;
    scrollbar-color: rgba(255, 255, 255, 0) #1e273f00;
}

.message_middle_sub .text{
    display: flex;
    gap: 10px;
}
.message_middle_sub .text p{
    width: 70%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    display: block;
    word-break: break-all;
}
.message_middle_sub .text img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.message_middle_sub .text p{
    margin: 0px;
    display: block;
}
.message_middle_sub .text_bottom p{
    font-size: .7rem;
    margin: 0px 40px 4px 40px;
}
#me .text{
    flex-direction: row-reverse;
}
#me .text_bottom{
    display: flex;
    flex-direction: row-reverse;
}
#other .text p{
    background-color: rgba(0, 0, 255, 0.425);
}
#me{
    margin-right: auto !important;
}
#me .text p{
    background-color: rgba(255, 255, 255, 0.226);
}
.message_bottom{
    position: absolute;
    bottom:0px;
    left: 0px;
    padding: 10px 10px 50px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #373D22;
    z-index: 5;

}
.message_bottom textarea{
    width: 80%;
    outline: 0px;
    border-radius: 50px;
    height: 50px;
    padding: 5px 20px;
}
.message_bottom svg{
    width: 60px;
    height: 30px;
    cursor: pointer;
}
.message_bottom textarea::-webkit-scrollbar {
    width: 0px !important;
}
.message_bottom textarea{
    overflow: auto;
    scrollbar-width: none;
    scrollbar-color: rgba(255, 255, 255, 0) #1e273f00;
}
