.header{
    position: sticky;
    top:0px;
    left: 0px;
    padding-top: 10px;
    background-color: #0C1322;
    background-color: #0C1322;
    z-index: 99999;
    /* border-bottom: 1px solid rgba(196, 180, 180, 0.677); */
    border-bottom: 1px solid rgba(248,250,252,.08);
}
.logo .active{
    background: rgba(255, 255, 255, 0) !important;
}
.logo{
    background-color: rgba(255, 255, 255, 0);
    font-weight: 800;
    font-size: 1.5rem;
}
.header a{
    color: #fff !important;
    text-decoration: none;
    padding: 12px 20px;
    margin: 5px 1px;
    border: 2px solid#0c132200;
}
.header .notificaton-icon{
    position: relative;
}
.header ul li a:hover{
    transition: .5s;
    background-color: rgba(67, 57, 77, 0.855);
    border: 2px solid rgba(67, 57, 77, 0);
    
}
.active{
    background-color: rgba(67, 57, 77, 0.855);
}





.header .icons div{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.header .icons div svg{
    margin: 7px;
    color: #ffffff;
    height: 23px;
    width: 23px;
    cursor: pointer;
}
.header .icons a{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}
.header .icons a:hover{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(67, 57, 77, 0) !important;
}
.header .register a{
    border-radius: 25px 0px 0px 25px;
    margin: 5px 0px 5px 20px;
    background-color: #dba622;
    border: 2px solid#dba622;
    padding: 5px 12px;
}
.header .register a:hover{
    border: 2px solid blue;
    background-color: #0C1322;
    color: blue !important;

}
.header .login a{
    border-radius: 0px 25px 25px 0px;
    margin: 5px 1px 5px 0px;
    background-color: blue;
    border: 2px solid blue;
    padding: 5px 20px;
}
.header .login a:hover{
    border: 2px solid#dba622;
    background-color: #0C1322;
    color:#dba622 !important;
}
.header .icons .active{
    background-color: rgba(67, 57, 77, 0) !important;
}
.header .icons .active svg{
    color: #dba622 !important;
}
.header .user{
    margin: 0px !important;
}
.header .user a{
    border-radius: 0px;
    margin: 0px !important;
    padding: 0px;
    border: 0px;
    margin-left: 5px !important;
}
.header .user a:hover{
    background-color: #0C1322;
    border: 0px;
}
.header .user .active {
    color: #dba72200;
    border: 0px;
}
.header .user a img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.navbar-light .navbar-toggler{
    /* background-color: #005789; */
    background-color: blueviolet;
    box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.74);
    margin-top: -11px;
    

    padding: 0px 5px;
    outline: 1px solid rgba(255, 255, 0, 0) !important;
    border: none !important;
}
.navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:active{
    outline: 1px solid rgba(255, 255, 0, 0) !important;
    border: none !important;
    background-color: rgba(137, 43, 226, 0.678);
    box-shadow: -1px 2px 1px rgba(255, 255, 255, 0.438);

}
#navbar-light .navbar-toggler-icon{
    background: url('../../Assets/icons/icons8-menu-20.png');
    background-position: 100% ;
}
.mobile-nav-list ul{
    list-style: none;
    padding: 0px;
}

@media only screen and (min-width:200px) and (max-width: 768px) {
    .header-ul{
        display: block;
        margin-top: 5px;
        height: 142px;
    }
    .header-ul li{
        display: block;
        /* height: 50px; */
        /* background-color: green; */
    }
    .header-ul li a{
        display: block;
        /* height: 30px; */
        padding: 5px 20px;
        margin: 1px;
        /* background-color: green; */
    }
    /* .header .user .active {
        color: #dba72200;
        width: 100%;
        height: 50px;
        border: 0px;
    } */
    
    .header .register a{
        position: absolute;
        bottom:12px;
        display: inline-block;
        border-radius: 25px 0px 0px 25px;
        margin: 5px 0px 5px 20px;
        background-color: #dba622;
        border: 2px solid#dba622;
        width: 90px !important;
        font-weight: 500;

    }
    .header .register a:hover{
        border: 2px solid#dba622;
        border: 2px solid  blue;
        background-color: #0C1322;
        color:blue !important;

    }
    .header .login a{
        position: absolute;
        bottom:12px;
        left: 143px;
        display: inline-block;
        width: 80px !important;
        border-radius: 0px 25px 25px 0px;
        margin: 5px 1px 5px 0px;
        background-color: #000000;
        background-color: blue;
        border: 2px solid #000000;
        border: 2px solid blue;
        font-weight: 500;
    }
    .header .login a:hover{
        border: 2px solid#dba622;
        background-color: #0C1322;
        color:#dba622 !important;
    }
    
}

@media only screen and (min-width:200px) and (max-width: 650px) {
    .header .login a{
        position: absolute;
        bottom:12px;
        left: 130px;
        display: inline-block;
        width: 70px !important;
        border-radius: 0px 25px 25px 0px;
        margin: 5px 1px 5px 0px;
        background-color: #000000;
        background-color: blue;
        border: 2px solid #000000;
        border: 2px solid blue;
        font-weight: 500;
    }
}
@media only screen and (min-width:200px) and (max-width: 500px) {
    
    .header .register a{
        padding: 3px 7px;
       
    }
    .header .login a{
        position: absolute;
        bottom:12px;
        left: 125px;
        width: 50px;
        /* height: 25px; */
        display: inline-block;
        border-radius: 0px 25px 25px 0px;
        margin: 5px 1px 5px 0px;
        background-color: #000000;
        background-color: blue;
        border: 2px solid #000000;
        border: 2px solid blue;
        font-weight: 500;
        padding: 3px 7px;
    }
}