.header{
    padding-top: 10px;
    background-color: #0C1322;
    /* border-bottom: 1px solid rgba(196, 180, 180, 0.677); */
    border-bottom: 1px solid rgba(248,250,252,.08);
}
.logo .active{
    background: rgba(255, 255, 255, 0) !important;
}
.logo{
    background-color: rgba(255, 255, 255, 0);
    font-weight: 800;
    font-size: 1.5rem;
}
.header a{
    color: #fff !important;
    text-decoration: none;
    padding: 12px 20px;
    margin: 5px 1px;
    border: 2px solid#0c132200;
}
.header ul li a:hover{
    transition: .5s;
    background-color: rgba(67, 57, 77, 0.855);
    border: 2px solid rgba(67, 57, 77, 0);
    
}
.active{
    background-color: rgba(67, 57, 77, 0.855);
}



.header .register a{
    border-radius: 25px 0px 0px 25px;
    margin: 5px 0px 5px 20px;
    background-color: #dba622;
    border: 2px solid#dba622;
}
.header .register a:hover{
    border: 2px solid#dba622;
    background-color: #0C1322;
    color:#dba622 !important;

}
.header .login a{
    border-radius: 0px 25px 25px 0px;
    margin: 5px 1px 5px 0px;
    background-color: #000000;
    border: 2px solid #000000;
}
.header .login a:hover{
    border: 2px solid#dba622;
    background-color: #0C1322;
    color:#dba622 !important;
}

.header .icons div{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.header .icons div svg{
    margin: 7px;
    color: #ffffff;
    height: 23px;
    width: 23px;
    cursor: pointer;
}
.header .icons a{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}
.header .icons a:hover{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(67, 57, 77, 0) !important;
}
.header .icons .active{
    background-color: rgba(67, 57, 77, 0) !important;
}
.header .icons .active svg{
    color: #dba622 !important;
}
.header .user{
    margin: 0px !important;
}
.header .user a{
    border-radius: 0px;
    margin: 0px !important;
    padding: 0px;
    border: 0px;
    margin-left: 5px !important;
}
.header .user a:hover{
    background-color: #0C1322;
    border: 0px;
}
.header .user .active {
    color: #dba72200;
    border: 0px;
}
.header .user a img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}