.bg-them-1{
    position: absolute;
    /* top: -700px; */
    /* top: calc(-100vh + 60vh); */
    /* top: -50%; */
    top: calc(-100vw + 40vw);
    /* left: -100px; */
    left: -20%;
    /* transform: translateY(50%); */
    /* top:0px;
    left: 2px; */
    background: #15203a98 !important;
    height: 100vw !important;
    width: 100vw !important;
    border-radius: 50%;
    border-bottom: 1px dotted #f6c70d7c;
    border-left: 1px dotted rgba(255, 255, 0, 0.509);
    border-right: 1px dotted rgba(0, 128, 0, 0.462);
    border-top: 1px dotted rgba(240, 115, 240, 0.484);
    animation: tem-spning 3s infinite linear;
    z-index: -1 ;
    /* z-index: 9999999999999 !important; */
}
@keyframes tem-spning{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (min-width:200px) and (max-width:1750px) {
}