
.main-title::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    height: 1px;
    width: 100px;
    background-color: #dba622;
}
.activation-secton{
    display: block;
}
.activation-secton p{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}
.activation-secton a{
    text-decoration: none;
    background-color: #5086bd !important;
    border-left: 5px solid #dba622;
    width: 60px;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    font-size: 1rem;
    transition: .5s;
}
.activation-secton a:hover{
    background-color: #3d6d9c !important;
}
.balance-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
}
.balance-card div{
    /* box-shadow: #dba622 10px 10px; */
    box-shadow: yellow 10px 10px;
    padding: 25px 50px;
    border-radius: 10px;
    margin: 25px;
}
.balance-card div svg{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.balance-card div h4{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #fff;
}
.balance-card div p{
    font-size: 1.05rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.balance-card div:nth-child(1){
    background-color: #BD4CEC;
}
.balance-card div:nth-child(2){
    background-color: #EB6C40;
}
.balance-card div:nth-child(3){
    background-color: #5C4EE5;
}
.balance-card div:nth-child(4){
    background-color: #64BC36;
}



  
@media only screen and (min-width:200px) and (max-width: 1250px) {
    .balance-card{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width:200px) and (max-width: 950px) {
    .balance-card{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .balance-card div{
       width: 80%;
    }
}