.dashboard-navication{
    background-color: #2121215e;
    min-width: 250px;
    height: calc(100vh - 70px);
    position: fixed;
    border-right: 2px solid rgba(255, 255, 255, 0.073);
    padding-top: 16px;
    padding-bottom: 16px;
    transition: left .5s;
    overflow-Y: scroll;

}
 .dashboardNavigation::-webkit-scrollbar {
    width: 0px ;
}
  
.dashboard-navication ul{
    margin: 0;
    padding: 0;
}
.dashboard-navication ul li{
    margin: 5px; /*delete*/
    /* margin: 0; */
    padding: 0;
    list-style: none;
    padding: 5px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    /* border-bottom: 1px solid #fff; */
    display: flex; 
    align-items: center;
    height: 52px;
}

.dashboard-navication-title h6{
    /* color: #DBA622 !important; */
    color: #ffffff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #0F1729;
    padding: 10px 17px 20px 17px;
    font-weight: 700;
    border-bottom: 1px solid #dba72262;
}

.dashboard-navication-title h6 svg{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    transition: .2s;
}
.dashboard-navication ul li svg, .my-account-icon{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    transition: .2s;
    display: inline-block;
}

.dashboard-navication ul li a{
    text-decoration: none;
    margin: 0;
    padding: 5px 17px;
    color: #fff;
    width: 100%;
    transition: .2s;
    border: 5px solid #dba72200;
    display: flex;
    justify-content: start;
    align-items: center !important;
}
.dashboard-navication ul li a:hover{
    background-color: rgba(255, 255, 255, 0.059);
    color: #DBA622;
    border-left: 5px solid #DBA622;
}
.sub-menu{
    display: none;
}
.dashboard .active{
    background-color: rgba(255, 255, 255, 0.059);
    color: #DBA622;
    border-left: 5px solid #DBA622;
}
@media only screen and (min-width:200px) and (max-width: 768px) {
    .dashboard-navication{
        background-color: #0C1322;
        left: -230px;
        z-index: 9999;
    }
    .active_dashboard_navication{
         left: 0px !important;
    }
    /* .dashborard_nav_collaps_icon{
        position: absolute;
        background-color: #0C1322;
        content: url("../../Assets/New folder/icons8-arrow-25.png");
        height: 29px;
        width: 25px;
        left: 248px;
        top: 30%;
        border-radius: 0px 13px 13px 0px;
        border: 2px solid #FFA733;
        cursor: pointer;
        border-left: 0px;
        transition-delay: .5s;
        transition: .5s;
        z-index: 999999999;
    } */
    .dashborard_nav_collaps_icon{
        position: fixed;
        background-color: #0C1322;
        content: url("../../Assets/New folder/icons8-arrow-25.png");
        height: 29px;
        width: 25px;
        left: 18px;
        top: 30%;
        border-radius: 0px 13px 13px 0px;
        border: 2px solid #FFA733;
        cursor: pointer;
        border-left: 0px;
        transition: .5s;
        z-index: 999999999;
    }
    .active_dashborard_nav_collaps_icon{
        transform: rotate(180deg);
        left: 225px;
    }
    
}

