.slider{
    position: relative;
}
.slider div{
    background-color: rgba(255, 0, 0, 0);
}
.slider h2{
    font-size: 1.6rem;
}
.slider h3{
    font-size: 3.2rem;
}
.slider img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin-left: auto;
    text-align: right;
    border: 23px solid #F6C60D;
    border-top: 0px solid #F6C60D;;
    border-left: 0px  solid #F6C60D;
    border-right: 23px solid #F6C60D !important; 
    border-bottom: 25px solid #F6C60D !important;
    box-shadow: 0px 0px rgba(255, 255, 0, 0);
}
.slider-items button{
    padding: 8px 40px;
    border-radius: 70px;
    margin-right: 10px;
    border: 2px solid #dba622;
    font-weight: 500;
    color: #dba622;
}
.slider-items button:hover{
    color: #fff !important;
    background-color: #dba72200;
    border: 2px solid #fff;
}
.carousel-indicators{
    display: none;
}
.slide-handler{
    position: absolute ;
    top: 95% !important;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.carousel-control-prev{
    left: 24% !important;
}
.carousel-control-next{
    left: 26% !important;
}
.carousel-control-prev-icon {
    background-color: #fff !important;
    color: #000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-control-next-icon {
    background-color: #fff !important;
    color: #000;
    transform: rotate(180deg) !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:200px) and (max-width:1750px) {
    .carousel-control-prev {
        left: 23.5% !important;
    }


}
@media only screen and (min-width:200px) and (max-width:1500px) {
    .carousel-control-next {
        left: 26.5% !important;
    }

}
@media only screen and (min-width:200px) and (max-width:1250px) {
    .carousel-control-prev {
        left: 23% !important;
    }
    .slider img{
        margin-left: 0px;
    }

}
@media only screen and (min-width:200px) and (max-width:1100px) {
    .carousel-control-prev {
        left: 22% !important;
    }
    .slider img{
        height: 400px;
        width: 400px;
    }

}
@media only screen and (min-width:200px) and (max-width:900px) {
    .slider img{
        height: 350px;
        width: 350px;
    }
}
@media only screen and (min-width:200px) and (max-width:800px) {
    .carousel-control-next {
        left: 27% !important;
    }
    .slider img{
        height: 300px;
        width: 300px;
    }
    .slider h3{
        font-size: 3rem;
    }
}
@media only screen and (min-width:200px) and (max-width:700px) {
    .carousel-control-prev {
        left: 21% !important;
    }
    .carousel-control-next {
        left: 27.5% !important;
    }
    .slider img{
        height: 250px;
        width: 250px;
    }
    .slider h3{
        font-size: 2.85rem;
    }
}
@media only screen and (min-width:200px) and (max-width:600px) {
    .carousel-control-prev {
        left: 90px !important;
    }
    .carousel-control-next {
        left: 130px !important;
    }
    .slider img{
        height: 200px;
        width: 200px;
        margin-top: 50px ;
    }
}
@media only screen and (min-width:200px) and (max-width:576px) {
    .slider img{
        display: none;
    }
}
