.small-loader {
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
    border-color: red !important;
  }
  .small-loader-text{
    width: 100px;
    transform: rotate(-165deg);
    margin: -12px 0px 0px -110px !important;

  }
  .small-loader-text h5{
    color: yellow;

  }
  .small-loader:before, .small-loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
  }
  .small-loader:before {
    animation: smallSizeBefore 2s infinite;
  }
  .small-loader:after {
    animation: smallSizeAfter 2s infinite;
  }
  
  @keyframes smallSizeBefore {
    0% {
      width: 0.5em;
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
    35% {
      width: 2.5em;
      box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
    70% {
      width: 0.5em;
      box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
    100% {
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
  }
  @keyframes smallSizeAfter {
    0% {
      height: 0.5em;
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
    35% {
      height: 2.5em;
      box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
    70% {
      height: 0.5em;
      box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
    100% {
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
  }
  /**
   * Attempt to center the whole thing!
   */
  
  .small-loader {
    /* position: absolute; */
    /* top: calc(50% - 1.25em);
    left: calc(50% - 1.25em); */
  }