.messenger-container {
    display: flex;
    height: calc(100vh - 68px);
    width: 100%;
}
.corversation{
    flex: 2.5;
}
.message_container{
    flex: 7.5;
}
/* .active_user{
    flex: 2;
} */
.imoji_container {
    position: absolute;
    bottom: 85px;
    right: -20px;
    min-height: 100%;
    width: 100%;
    /* background-color: red; */
    display: none;
}
.message_bottom::after{
    position: absolute;
    content: "";
    left: 25px;
    bottom: 77px;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 0px 0px 3px 0px;
    display: none;
}
.active_message_bottom::after{
    display: block;
}
.imoji_active{
    display: block;
}
