
.messenger{
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.messenger-container {
    display: flex;
    /* top: 66px; */
    height: calc(100vh - 68px);
    /* width: calc(100vw - 200px); */
    width: calc(100% - 200px);
    /* position: fixed; */
    /* left: 0px; */
}
.corversation{
    flex: 2.5;
}
.message_container{
    flex: 7.5;
}
/* .active_user{
    flex: 2;
} */
.imoji_container {
    position: absolute;
    bottom: 85px;
    right: -20px;
    min-height: 100%;
    width: 100%;
    /* background-color: red; */
    display: none;
}
.message_bottom::after{
    position: absolute;
    content: "";
    left: 25px;
    bottom: 77px;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 0px 0px 3px 0px;
    display: none;
}
.active_message_bottom::after{
    display: block;
}
.imoji_active{
    display: block;
}
.message_top svg{
    height:27px;
    width:27px;
    cursor: pointer;
}
@media only screen and (min-width:200px) and (max-width:1100px) {
    .messenger-container{
        width: calc(100% - 100px);
    }
}
@media only screen and (min-width:200px) and (max-width:650px) {
    .messenger-container{
        width: calc(100% - 75px);
    }
    .coversetion_container{
        padding: 40px 10px;
    }
    .message_container{
        display: none;
    }
    .active_message_container{
        display: block;
    }
    .disable_corversation{
        display: none;
    }
}