.invest-groth{
    background-color: #22222291;
    color: #fff !important;
}

.invest-groth h3{
    font-size: 1.9rem;
    margin-bottom: 10px;
}
.invest-groth h2{
    font-size: 2.5rem;
    color: #DBA622;
}
.invest-groth a{
    color: #fff;
    background-color: #DBA622;
    padding: 8px 40px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    font-weight: 500;
    border: 2px solid #dba72200;
}
.invest-groth a:hover{
    background-color: #fff;
    color: #DBA622;
    border: 2px solid #DBA622;
}
.invest-groth img{
    display: block;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    margin: auto ;
    border: 23px solid #F6C60D;
    border-top: 0px solid #F6C60D;;
    border-left: 0px  solid #F6C60D;
}

@media only screen and (min-width:200px) and (max-width:1250px) {
    .invest-groth img{
        margin-left: 0px;
    }

}
@media only screen and (min-width:200px) and (max-width:1100px) {
    .invest-groth img{
        height: 400px;
        width: 400px;
    }

}
@media only screen and (min-width:200px) and (max-width:992px) {
    .invest-groth img{
        height: 350px;
        width: 350px;
    }
}
@media only screen and (min-width:200px) and (max-width:900px) {
    .invest-groth img{
        height: 300px;
        width: 300px;
    }
}
@media only screen and (min-width:200px) and (max-width:790px) {
    .invest-groth img{
        margin-top: 20px;
        height: 250px;
        width: 250px;
    }
}
@media only screen and (min-width:200px) and (max-width:670px) {
    .invest-groth img{
       border: 5px solid green;
        margin-top: 30px;
        height: 200px;
        width: 200px;
    }
}