.welcome-container{
    position: relative;
}
.welcome-section{
    margin: 150px auto !important;
}
.welcome-section img{
    height: 373px;
    width: 100%;
}
.welcome-image-container{
    position: relative;
}
.welcome-image-container::after{
    content: "";
    /* height: 373px; */
    height: 100%;
    width: 100%;
    width: 100%;
    position: absolute;
    border: 15px solid #00AAEF;
    top: 40px;
    right: 30px;
    animation: wavePosition 7s infinite;
    z-index: -1;
}
@keyframes wavePosition {
    0% {
        top: 40px;
        right: 30px;
    }
    50%{
        top: 20px;
        right: 10px;
    }
    100% {
        top: 40px;
        right: 30px;
    }
  }
.welcome-section p{
    color: rgb(213, 193, 193);
}
.welcome-section h3:before{
    position: absolute;
    content: " ";
    background-color: #dba622;
    left: 1px;
    bottom: 0px;
    height: 1px ;
    width: 120px;
}
.welcome-section a{
    display: block;
    color: #fff;
    width: 500;
    font-size: 1.5rem;
}
.welcome-section a:hover{
    color: #dba622;
}
.btn-conteroler{
    font-size: 1.23rem !important;
    margin-top: 30px;
    background-color: #dba622;
    display: flex;
    align-items: center;
    justify-content: center;
    width:180px;
    text-align: center;
    padding: 3px;
    border: 2px solid #dba622;
    border-radius: 40px;
    font-weight: 400;
}
.btn-conteroler:hover{
    background-color: #fff;
    color: #dba622;
}
@media only screen and (min-width:200px) and (max-width:1100px) {
    .welcome-section{
        margin: 110px auto !important;
    }
}

@media only screen and (min-width:200px) and (max-width:768px) {
    .welcome-section{
        margin: 70px auto !important;
    }
    .welcome-section img{
        height: 273px;
    }
}
@media only screen and (min-width:200px) and (max-width:450px) {
    .welcome-section img{
        height: 203px;
    }
}

