.footer{
    height: 100%;
    width: 100%;
    /* background-color: #19233a; */
    background-color: #19233a79;

}
.footer h3{
    font-size: 1.7rem;
    position: relative;
    margin-bottom: 10px;
}
.footer h3::after{
    position: absolute;
    content: "";
    bottom: 1px;
    left: 0px;
    height: 1px;
    width: 80px;
    background-color: #dba622;
}
.footer .contact span:hover{
    color: #dba622;
}

.footer svg{
    color: #dba622 ;
    height: 24px;
    width: 24px;
}
.socila{
    display: flex;
}
.socila span{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
   height: 40px !important;
   width: 40px !important;
   margin:2px;
   border-radius: 50%;
   transition: .2s;
   cursor: pointer;
}
.socila span:first-child{
    margin-left: 0px !important;
}
.socila span:hover{
    background-color:#fff;
}
.socila span:hover svg{
    color: #dba622 !important;
}
.socila svg{
    height: 25px;
    width: 25px;
    /* z-index: 99; */
    transition: .2s;
    color: #fff;
}
.footer .copyright{
    margin-top: 50px;
    border-top: 1px solid rgba(119, 93, 93, 0.571);
}
.footer .copyright span{
    font-size: 1.2rem;
    color:#dba622
}